.phantom-footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.phantom-footer ul li a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}
